<!DOCTYPE html>
<html>
  <head>
    <title>Preview</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style media="screen">
        /*!
       * table-grid (http://mdo.github.io/table-grid)
       * Released under MIT, (c) 2014 Mark Otto
       */


      /*
       * Container
       */

      /* Holds and centers the site content */
      .container {
        margin-right: auto;
        margin-left: auto;
      }


      /*
       * The Grid
       */

      @media (min-width: 600px) {
        /* Add `.grid` for the table */
        .grid {
          display: table;
          width: 100%;
          table-layout: fixed;
        }

        /* Add `.col` for the table cells, or columns */
        .col {
          display: table-cell;
        }

        /* Set the widths */
        .col-1 { width: 8.333333%; }
        .col-2 { width: 16.666667%; }
        .col-3 { width: 25%; }
        .col-4 { width: 33.333333%; }
        .col-5 { width: 41.666667%; }
        .col-6 { width: 50%; }
        .col-7 { width: 58.333333%; }
        .col-8 { width: 66.666667%; }
        .col-9 { width: 75%; }
        .col-10 { width: 83.333333%; }
        .col-11 { width: 91.666667%; }
        .col-12 { width: 100%; }

        /* Padded columns */
        .grid-padded {
          margin-left:  -1rem;
          margin-right: -1rem;
        }
        .grid-padded .grid {
          border-spacing: 1rem 0;
        }
      }


      /*
       * Vertically center grid content
       *
       * Requires content within the column to be inline or inline-block.
       */

      .grid-align-middle .col {
        vertical-align: middle;
      }
    </style>
    <style media="screen">
     * {
       box-sizing: border-box;
     }

      body {
        margin: 0;
        font-size: 12px;
        font-family: "Helvetica"
      }

      .overview {
        padding: 20px;
        font-size: 16px;
        line-height: 1.7;
      }

      .overview .col {
        padding: 10px;
        text-align: center;
      }

      .overview .col:first-child {
        border-right: 1px solid #eee;
      }

      section {
        margin: 20px;
      }

      header {
        padding: 15px;
        background: #eee;
        font-weight: bold;
      }

      .data {
        border-collapse: collapse;
      }

      .data th {
        text-align: left;
        background: #f7f7f7;
        padding: 10px;
        border: 1px solid #eee;
      }

      .data td {
        border: 1px solid #eee;
        padding: 10px;
      }

      .minor { color: #ffc80b; }
      .moderate { color:#ff610b }
      .major { color: #f90b15; }
      .fat { color: #c00; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
